@{
    ViewBag.Title = "Home Page";
}
<!-- Navigation -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
    $('#mycarousel').carousel({ interval: 3000 });
});
</script>


<body>

    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" > <img src="~/Img/SoulIT.png" alt="SoulIT" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" >
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Serviços</a>
                    </li>
                    <li>
                        <a href="#">Produtos</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">

                    <small> SIMULADOR ÚNICO </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                <div class="carousel slide" id="mycarousel">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#mycarousel">
                        </li>
                        <li data-slide-to="1" data-target="#mycarousel">
                        </li>
                        <li data-slide-to="2" data-target="#mycarousel">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" style="text-align:center">
                            <img alt="Carousel Bootstrap First" src="~/Img/Slide3.jpg" style="width:80%" />
                            <div class="carousel-caption">
                                <h4>
                                    
                                </h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Second" src="~/Img/Slide4.jpg" style="width:80%" />
                            <div class="carousel-caption">
                                <h4>
                                    
                                </h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Third" src="~/Img/Slide5.jpg" style="width:80%" />
                            <div class="carousel-caption">
                                <h4>
                                    
                                </h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#mycarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#mycarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>SoulIT - Simulador</h3>
                <p>Após estudar o mercado de seguros por 5 anos, a SoulIT disponibiliza o seu Simulador de cálculo Online com os Módulos:</p>
                <ul>
                    <li>Setup & Simulador</li>
                    <li>Subscrição</li>
                    <li>Emissão</li>
                    <li>Relatórios Gerenciais e Operacionais</li>
                </ul>
                <h3>Saia na frente do mercado:</h3>
                <ul>
                    <li>Fácil Instalação</li>
                    <li>Rápida Configuração</li>
                    <li>Resultados Instantâneos</li>
                    
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
</body>
<!-- /.container -->
<!-- jQuery -->